ul {
  list-style: none;
  padding: 2px;
  font-size: 12px;
  margin: 0;
  margin-bottom: 30px;
}
sup {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  top: -15px;
}
.container {
  background: #b1c1a3;
  border-radius: 20px;
  font-family: "Karla", sans-serif;
  max-width: 650px;
  margin-top: 50px;
}
.current-city {
  border: 2px solid white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  height: 160px;
  width: 480px;
  color: white;
}
.current-city h1 {
  font-size: 47px;
  margin-bottom: 0;
}
.climate {
  font-size: 14px;
}
.description {
  font-size: 18px;
}
.input-group {
  margin: auto;
}
.nav-search {
  position: relative;
  display: block;
  margin: auto;
  margin-left: 80px;
  padding: 15px;
  max-width: 580px;
}
.searchbar {
  border: 1px solid white;
}
.search-button,
.search-current {
  position: relative;
  left: -15px;
  background-color: white;
  border: 1px solid white;
  color: #e3ba87;
  display: block;
  font-size: 15px;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #e3ba87;
  color: white;
  border: none;
}
.search-current:hover {
  background-color: #e3ba87;
  color: white;
  border: none;
}
.weather-details {
  line-height: 18px;
}
.weekday-forecast {
  max-width: 500px;
  text-align: center;
}
.weather-icon {
  position: relative;
  top: -20px;
}
.weekday-temp {
  border: 2px solid white;
  border-radius: 10px;
  height: 100px;
  margin: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
}
.temp {
  font-size: 15px;
}
.temp-now {
  font-size: 45px;
}
.title {
  position: relative;
  color: white;
  font-family: "Dekko", cursive;
  font-size: 20px;
  line-height: 15px;
}
.code-footer {
  color: black;
  font-size: 13px;
  text-align: center;
}

/* Maybe add date?, Look for other fonts, add a background changer, change icons! */
